<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>897833532488-7avoc8llik2b4vueccum380ae2oqg336.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897833532488-7avoc8llik2b4vueccum380ae2oqg336</string>
	<key>API_KEY</key>
	<string>AIzaSyC96RzagJzZwZyzVWdHohN7aTD5WHLW9y8</string>
	<key>GCM_SENDER_ID</key>
	<string>897833532488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SeanPerez.SocialNetwork</string>
	<key>PROJECT_ID</key>
	<string>socialnetwork-e595c</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetwork-e595c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:897833532488:ios:282bb9ce77e26b6a</string>
	<key>DATABASE_URL</key>
	<string>https://socialnetwork-e595c.firebaseio.com</string>
</dict>
</plist>